<% include ./layout/header %>
<div class="container">
<div class="jumbotron mt-4 text-center">
  <a class="btn btn-primary btn-lg" href="https://id.twitch.tv/oauth2/authorize?client_id=i7rgaquwvcg9e9a5scx2ymkttlrzs4&redirect_uri=http://localhost:4000/authorize&response_type=code&scope=user_read+channel_subscriptions+bits:read+chat:read+channel_subscriptions">
    Login With Twitch
  </a>
</div>
<div>
  <h3>Registered Users : <%= users.length %></h3>
  <table class="table">
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user._id %></td>
          <td><%= user.email %></td>
          <td><%= user.access_token %></td>
          <td><%= user.logo %> Logo</td>
          <td><%= moment(user.createdAt).format('DD-MM-YYYY hh:mm A') %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% include ./layout/scripts %>
<% include ./layout/footer %>